*{
  background-color: black;
  font-family: "Advent Pro";
}

.page-title{
  margin-left: 600px;
  margin-top: 0;
  color: #AD03DE;
  font-weight: bold;
  font-size: 55px;
  background-color: blue;
}

.create-button{
  color: white;
  background-color: white;
  margin-left: 800px;
}