.BioPageTop{
    min-width: 600px;
    max-width: 1430px;
    
    min-height: 120px;

    padding: 10px;

    display:flex;
    flex-direction: row;

    z-index:1;

    background-color: black;
}

.BioPageTopRight{
    float: left;
}

.ProfilePicture{
    background-color: red;
    height: 115px;
    width: 115px;

    margin-right: 5px;

}

.DisplayName{
    color: white;

    text-align: left;
    
    padding: 3px;
    margin: 5px;

    height: 40px;
    max-width: 200px;

    font-size: 32px;
    font-weight: bold;
    font-family: Georgia;

    text-align: left;
}

.AgeGender{
    color: white;

    padding: 2px;
    margin: 1px;

    height: 20px;
    width: 80px;

    font-weight: bold;
    font-family: Georgia;

}